

h1, p, li, a, ul {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.topnav a {
   float: left;
   color: #EBA3AE;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav {
   background-color: #FFEEF2;
   overflow: hidden;
}

a:hover {
  color: #EBA3AE;
}


#crazyAsians.png {
   float: right;
}



#scytheBook.png {
   float: left;
}

#murderMystery.png {
   float: right;
}

#richPoor.png.jpg {
   float: left;
}

body {
	background-color: #FDE1E6;
}

h1 {
	color: #EBA3AE;

}

p {
	color: #EBA3AE;

}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a {
	color: #FCC8CE;
}



#EBA3AE
#FCBFC7
#FEEAEF